In [1]:
import pandas as pd

In [3]:
microdados_ = pd.read_pickle('microdados_.pkl')
microdados_geo_mun = pd.read_pickle('microdados_geo_mun.pkl')

In [4]:
microdados_.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,renda_percapita,classe_renda_percapita,icp_comp_01,icp_comp_02_parcial,icp_comp_02,icp_comp_03_parcial,icp_comp_03,icp,regiao,id
0,210057280536,2022,20 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Já concluí o Ensino Médio,2020,Não Respondeu,...,303.0,3,1,3.5,1,9,4,6,Sem informação,Sem informação
1,210055724397,2022,21 anos,Masculino,Solteiro(a),Parda,Brasileiro(a),Já concluí o Ensino Médio,2020,Não Respondeu,...,0.0,1,1,4.5,3,2,1,5,Sem informação,9.0
2,210055778089,2022,21 anos,Feminino,Solteiro(a),Preta,Brasileiro(a),Já concluí o Ensino Médio,Não informado,Não Respondeu,...,121.2,1,1,4.5,3,8,3,7,Sem informação,6.0
3,210055461467,2022,19 anos,Feminino,Solteiro(a),Parda,Brasileiro(a),Já concluí o Ensino Médio,2021,Não Respondeu,...,303.0,3,1,3.0,1,8,3,5,Sem informação,7.0
4,210054972570,2022,17 anos,Feminino,Solteiro(a),Branca,Brasileiro(a),Estou cursando e concluirei o Ensino Médio em ...,Não informado,Privada,...,151.5,2,1,3.5,1,8,3,5,Sem informação,Sem informação

In [7]:
microdados_.columns

Index(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'CO_MUNICIPIO_PROVA', 'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA',
       'SG_UF_PROVA', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT',
       'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC',
       'TX_RESPOSTAS_MT', 'TP_LINGUA', 'TX_GABARITO_CN', 'TX_GABARITO_CH',
       'TX_GABARITO_LC', 'TX_GABARITO_MT', 'TP_STATUS_REDACAO',
       'NU_NOTA_COMP1', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4',
       'NU_NOTA_COMP5', 'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004',
       'Q005', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013',
       'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'nota_media_objetivas', 'nota_media_geral',
       'valor_referencia_renda_familia', 'num_residentes', 'renda_percapita',
       'classe_renda_percapita', 'icp_comp_01', 'icp_comp_02_parcial',
       'icp_comp_02', 'icp_comp_03_parcial', 'icp_comp_03', 'icp', 'regiao',
       'id'],
      dtype='object')

In [5]:
microdados_geo_mun.head()

,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,SG_UF_ESC,nota_media_geral,nota_media_objetivas,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,id
20,2301109.0,Aracati,CE,471.94,449.925,436.7,420.0,512.6,430.4,2301109
35,3550308.0,São Paulo,SP,793.54,766.925,819.5,684.9,657.8,905.5,3550308
37,5208608.0,Goianésia,GO,579.24,539.050,442.4,579.2,582.7,551.9,5208608
39,1506807.0,Santarém,PA,469.96,457.450,461.4,485.9,448.9,433.6,1506807
41,3303500.0,Nova Iguaçu,RJ,249.32,191.650,0.0,429.2,337.4,0.0,3303500

In [6]:
microdados_geo_mun[['CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'nota_media_geral']].groupby(['CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC']).mean().reset_index().sort_values('nota_media_geral', ascending=False)

      CO_MUNICIPIO_ESC       NO_MUNICIPIO_ESC  nota_media_geral
2566         3129905.0      Ibitiúra de Minas            674.84
3290         3503950.0                Aspásia            665.84
4798         4311908.0        Marcelino Ramos            656.57
2419         3117207.0   Conceição das Pedras            650.64
3270         3502309.0                Anhembi            636.24
...                ...                    ...               ...
3383         3512506.0               Coroados            253.46
4370         4206751.0                  Ibiam            213.25
1142         2406809.0         Lajes Pintadas            188.16
2562         3129608.0                  Ibiaí            167.20
43           1101476.0  Primavera de Rondônia            144.68

[5504 rows x 3 columns]

In [15]:
grupo_1 = microdados_[(microdados_['TP_LOCALIZACAO_ESC']=='Rural')&
            (microdados_['TP_DEPENDENCIA_ADM_ESC'].isin(['Estadual', 'Municipal']))&
            (microdados_['icp']<=4)].sort_values('nota_media_geral', ascending=False)[['NU_INSCRICAO', 'nota_media_geral', 'icp_comp_01', 'icp_comp_02', 'icp_comp_03']]

grupo_0 = microdados_[(microdados_['TP_LOCALIZACAO_ESC']=='Urbana')&
            (microdados_['TP_DEPENDENCIA_ADM_ESC'].isin(['Federal', 'Privada']))&
            (microdados_['icp']>=14)].sort_values('nota_media_geral', ascending=False)[['NU_INSCRICAO', 'nota_media_geral', 'icp_comp_01', 'icp_comp_02', 'icp_comp_03']]

In [17]:
print(f"Percentual de notas acima de 700 - grupo vulnerável: {len(grupo_1[grupo_1['nota_media_geral']>700])/len(grupo_1)}")
print(f"Percentual de notas acima de 700 - grupo controle: {len(grupo_0[grupo_0['nota_media_geral']>700])/len(grupo_0)}")

Percentual de notas acima de 700 - grupo vulnerável: 0.0007425742574257426
Percentual de notas acima de 700 - grupo controle: 0.2539966923925028

In [19]:
len(grupo_1)

8080

In [20]:
len(grupo_1[grupo_1['nota_media_geral']>700])

6

In [22]:
str(grupo_1.iloc[0]['NU_INSCRICAO'])

'210056852546.0'

In [31]:
microdados_[microdados_['NU_INSCRICAO']==210056852546.0][['CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'nota_media_geral', 'Q006', 'TP_LOCALIZACAO_ESC', 'TP_DEPENDENCIA_ADM_ESC']]

,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,nota_media_geral,Q006,TP_LOCALIZACAO_ESC,TP_DEPENDENCIA_ADM_ESC
1696464,2904209.0,Botuporã,742.02,"Até R$ 1.212,00",Rural,Estadual

In [29]:
set(microdados_['Q006'])

{'Acima de R$ 24.240,00.',
 'Até R$ 1.212,00',
 'De R$ 1.212,01 até R$ 1.818,00.',
 'De R$ 1.818,01 até R$ 2.424,00.',
 'De R$ 10.908,01 até R$ 12.120,00.',
 'De R$ 12.120,01 até R$ 14.544,00.',
 'De R$ 14.544,01 até R$ 18.180,00.',
 'De R$ 18.180,01 até R$ 24.240,00.',
 'De R$ 2.424,01 até R$ 3.030,00.',
 'De R$ 3.030,01 até R$ 3.636,00.',
 'De R$ 3.636,01 até R$ 4.848,00.',
 'De R$ 4.848,01 até R$ 6.060,00.',
 'De R$ 6.060,01 até R$ 7.272,00.',
 'De R$ 7.272,01 até R$ 8.484,00.',
 'De R$ 8.484,01 até R$ 9.696,00.',
 'De R$ 9.696,01 até R$ 10.908,00.',
 'Nenhuma Renda'}

In [33]:
microdados_[microdados_['CO_MUNICIPIO_ESC']==2904209.0]['nota_media_geral'].

232936     452.30
458205     616.28
486731     584.60
612823     516.10
620689     524.20
748397     548.90
894656     614.96
1001659    475.34
1195560    647.96
1208788    741.04
1523505    469.02
1677813    536.34
1696464    742.02
1829147    378.76
1967162    506.74
2140513    521.06
2364511    514.90
Name: nota_media_geral, dtype: float64

In [41]:
grupo_1.boxplot(column=['nota_media_geral'])

In [38]:
grupo_1

         NU_INSCRICAO  nota_media_geral  icp_comp_01  icp_comp_02  icp_comp_03
1696464  210056852546            742.02            1            1            1
326695   210057893652            712.42            1            2            1
90901    210056569112            710.86            1            1            2
790111   210055110553            707.24            1            1            1
1167198  210056648893            705.86            1            2            1
...               ...               ...          ...          ...          ...
1174153  210056645113              0.00            1            1            1
1012046  210056302249              0.00            1            1            1
1963776  210057703031              0.00            1            1            2
237075   210055445546              0.00            1            1            1
1088606  210057894558              0.00            1            1            1

[8080 rows x 5 columns]